# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Node and Vite build artifacts
frontend/node_modules/
frontend/package-lock.json
frontend/public/drinks/
frontend/build/

# Python build artifacts
__pycache__/
.pytest_cache/
*.pyc

# Logs
*.log

